---
import Site from "../layouts/Site.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { projects } from "../data/projects";
---
<Site title="Projekty – Jakub Honzal">
<section class="py-16">
<h1 class="font-display text-4xl md:text-6xl">Projekty</h1>
<p class="mt-4 max-w-2xl text-black/70">Výběr projektů, na kterých jsem pracoval.</p>


<div class="mt-10 grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
{projects.map(p => <ProjectCard p={p} />)}
</div>
</section>
</Site>